.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@keyframes growShrink {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.2); }
}

.loader-logo {
  width: 100px;
  animation: growShrink 1.5s ease-in-out infinite;
}
